<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
	integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
	integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
	integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
	crossorigin="anonymous"></link>
<title>SIAK-FG</title>
</head>

<body>
	<p></p>
	<div class="container">
		<div class="row">
			<div class="col text-center">
				<h1>Sistem Informasi Akademik Future Generation</h1>
				<h3>SIAK-FG</h3>
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="card-deck">
					<div class="card">
						<img class="card-img-top"
							src="https://image.ibb.co/miNYx6/kurikulum.png"
							alt="Card image cap"></img>
						<div class="card-body">
							<h4 class="card-title">Aplikasi Kurikulum</h4>
							<p class="card-text text-justify">Aplikasi Kurikulum
								digunakan untuk mengelola kurikulum dan mata kuliah yang ada
								pada sebuah program studi. Aplikasi ini digunakan oleh Kaprodi
								untuk mengelola kurikulum dan mata kuliah sebuah program studi
								di suatu fakultas di sebuah universitas.</p>
						</div>
						<div class="card-footer">
							<a class="btn btn-info btn-block" href="http://localhost:6969/" role="button">Masuk Aplikasi</a>
						</div>
					</div>
					<div class="card">
						<img class="card-img-top"
							src="https://image.ibb.co/kVFWjm/sekretariat.png"
							alt="Card image cap"></img>
						<div class="card-body">
							<h4 class="card-title">Aplikasi Sekretariat</h4>
							<p class="card-text text-justify">Aplikasi Sekretariat
								digunakan membuat term atau semester perkuliahan, ganjil atau
								genap, dan membuat jadwal kelas perkuliahan. Aplikasi
								Sekretariat digunakan oleh staf akademik suatu fakultas.</p>
						</div>
						<div class="card-footer">
							<a class="btn btn-info btn-block" href="http://localhost:8080/" role="button">Masuk Aplikasi</a>
						</div>
					</div>
					<div class="card">
						<img class="card-img-top"
							src="https://image.ibb.co/g6NBjm/akademik_mahasiswa.png"
							alt="Card image cap"></img>
						<div class="card-body">
							<h4 class="card-title">Aplikasi Akademik Mahasiswa</h4>
							<p class="card-text text-justify">Aplikasi Akademik Mahasiswa digunakan untuk melakukan pengisian IRS dan menampilkan
riwayat perkuliahan mahasiswa. Aplikasi Akademik Mahasiswa juga dapat menampilkan status
yudisium mahasiswa, apakah mahasiswa sudah berhak lulus atau belum.</p>
						</div>
						<div class="card-footer">
							<a class="btn btn-info btn-block" href="http://localhost:4040/" role="button">Masuk Aplikasi</a>
						</div>
					</div>
				</div>
				<br/>
			</div>
		</div>
	</div>
</body>
</html>